.review-form {
    flex: auto;
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
    background-color: aqua;
    border-radius: 30px;
}
.zametka1FORM {
    width: auto;
    height: auto;
    padding: 20px;
    margin: 40px;
    border-radius: 30px;
    background-color: aqua;
}
.midText {
 text-align: center;
}