<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>1week-2zadanie</title>
</head>
<body>
<div id="app">
<!--  вызов модального окна с выбором добавления заметки  -->
    <div class="modal-header">
    <div class="midText">
    <a href="#modalchose" class="ramka">Создать заметку</a>
    </div>
    </div>
    <div id="modalchose" class="modal">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <a href="#openModal">Добавить заметку в 1 таблицу</a>
        </div>
        </div>
        </div>
    </div>
<!--  вызов создания заметки  -->
    <div id="openModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Создание заметок</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form class="review-form" @submit.prevent="onSubmit">
                        <p>
                            <label for="name">Название заметки:</label> <br>
                            <input required id="name" v-model="name" placeholder="Название">
                        <p>
                            <label for="review">Содержимое заметок:</label> <br>
                            <textarea id="review" v-model="review"></textarea>
                        <button class="buttonview" @click="hidebut">Добавить пункт</button>
                        <textarea style="margin-top: 15px" v-show="visibility" id="review2" v-model="review2"></textarea>
                        <button class="buttonview" v-show="visibility" @click="visibility3view228">Добавить ещё пункт</button>
                        <textarea style="margin-top: 15px" v-show="visibility3view" id="review3" v-model="review3"></textarea>
                        </p>
                        <p>
                            <label for="rating">Важность заметки:</label>
                            <select id="rating"   v-model.number="rating">
                                <option>5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>1</option>
                            </select>
                        </p>
                        <p>
                            <input class="buttonview" @click="hidebutoff" type="submit" value="Создать заметку">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--  qweasd123  -->
    <div class="zametka1FORM">
        <p class="midText">Заметки 1</p>
    <li v-for="review in reviews"> Заметка
        <ul>Название: {{review.name}}</ul>
        <ul>Содержимое: 1) {{review.review}}</ul>
        <button class="buttonview" @click="hidereview">Показать дополнительные пункты</button>
        <ul v-show="visibility1">2) {{review.review2}}</ul>
        <ul v-show="visibility1">3) {{review.review3}}</ul>
        <button class="buttonview" v-show="visibility1" @click="hidereviewoff" >Скрыть дополнительеые пункты</button>
        <ul>Важность - {{review.rating}}</ul>
        <input class="buttonview" @click="perenos" type="submit" value="Перенести в 'заметки 2'">
    </li>
    </div>
    <div class="zametka2FORM">
        <p class="midText">Заметки 2</p>
        <li v-for="review in reviews2"> Заметка
            <ul>Название: {{review.name}}</ul>
            <ul>Содержимое: {{review.review}}</ul>
            <button class="buttonview" @click="hidereview">Показать дополнительные пункты</button>
            <ul v-show="visibility1">2) {{review.review2}}</ul>
            <ul v-show="visibility1">3) {{review.review3}}</ul>
            <button class="buttonview" v-show="visibility1" @click="hidereviewoff" >Скрыть дополнительеые пункты</button>
            <ul>Важность - {{review.rating}}</ul>
            <input class="buttonview" @click="perenos2" type="submit" value="Перенести в 'заметки 3'">
        </li>
    </div>
    <div class="zametka3FORM">
        <p class="midText">Заметки 3</p>
        <li v-for="review in reviews3"> Заметка
            <ul>Название: {{review.name}}</ul>
            <ul>Содержимое: {{review.review}}</ul>
            <button class="buttonview" @click="hidereview">Показать дополнительные пункты</button>
            <ul v-show="visibility1">2) {{review.review2}}</ul>
            <ul v-show="visibility1">3) {{review.review3}}</ul>
            <button class="buttonview" v-show="visibility1" @click="hidereviewoff" >Скрыть дополнительеые пункты</button>
            <ul>Важность - {{review.rating}}</ul>
        </li>
    </div>
</div>
</body>
</html>