<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>1week-2zadanie</title>
</head>
<body>
<div id="app">
<!--  вызов модального окна с выбором добавления заметки  -->
    <div class="modal-header">
    <div class="midText">
    <a href="#modalchose" class="ramka">Создать заметку</a>
    </div>
    </div>
    <div id="modalchose" class="modal">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <a href="#openModal">Добавить заметку в 1 таблицу</a>
        </div>
        </div>
        </div>
    </div>
<!--  вызов создания заметки  -->
    <div id="openModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Создание заметок</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form class="review-form" @submit.prevent="onSubmit">
                        <p>
                            <label for="name">Название заметки:</label> <br>
                            <input required id="name" v-model="productReview.name" placeholder="Название">
                        <p>
                            <label for="review1">Содержимое заметок:</label> <br>
                            <textarea id="review1" v-model="productReview.review1.viewname"></textarea>
                        <textarea style="margin-top: 15px" id="review2" v-model="productReview.review2.viewname"></textarea>
                        <textarea style="margin-top: 15px"  id="review3" v-model="productReview.review3.viewname"></textarea>
                        <textarea style="margin-top: 15px"  id="review4" v-model="productReview.review4.viewname"></textarea>
                        <textarea style="margin-top: 15px"  id="review5" v-model="productReview.review5.viewname"></textarea>
                        </p>
                        <p>
                            <label for="rating">Важность заметки:</label>
<!--                            <input id="rating" v-model="productReview.rating">-->
                            <select id="rating"   v-model="productReview.rating">
                                <option>5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>1</option>
                            </select>
                        </p>
                        <p>
                            <input class="buttonview" @click="hidebutoff" type="submit" value="Создать заметку">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--  qweasd123  -->
    <reviews :reviews="reviews" :allreviews="reviews.allreviews" ></reviews>
    <reviews2 :reviews2="reviews2" :allreviews="reviews.allreviews"></reviews2>
    <reviews3 :reviews3="reviews3" :allreviews="reviews.allreviews"></reviews3>
</div>
</body>
</html>